/*CSS ELEMENTOS GENERALES*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: 'Roboto','sans-serif';
}

body{
    background-color: #efefef;
    margin:0;
}

main{
   width: 1400px; 
   margin: 0 auto;
}
/*TODO pendiente de cambiar coloroces para marcar bordes redondeados en logos equipo*/
.Pilotos-DatosEquipo {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 30px;
    border-bottom: none; /* Eliminamos el borde inferior actual */
    border-right: none; /* Eliminamos el borde derecho actual */
    border-radius: 0 0 8px 0; /* Borde curvo solo en la esquina inferior derecha */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombreado en los bordes derecho e inferior */
}

.tabla-container {
    display: flex;
    justify-content: center;
}

.tabla {
    max-width: 600px;
    padding: 20px;
}

.tabla header {
    text-align: center;
    margin-bottom: 20px;
}

.tabla img.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.tabla-estadisticas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estadisticas td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-estadisticas td:first-child {
    font-weight: bold;
}

.tabla-estadisticas tr:last-child td {
    border-bottom: none;
}


.Pilotos-DatosEquipo header{
box-sizing: border-box;
height: 30px;
margin-bottom: 20px;
text-align: center;
}

.Pilotos{
    padding: 10px;
    float: right;
}


.ContenedorPilotos{
display: flex;
justify-content: space-between;
width: 800px;
height: 640px;
}

.Pilotos a{
text-decoration: none;
color: inherit;
display: flex;
}

.Piloto{
transition: all 0.5s ease;
border-style: none;
/* border-color: #003399; */
border-width: 2px;
width: 380px;
overflow: hidden;
align-items: center;
border-bottom-right-radius: 10px;
border-right: 3px solid #00ff51;
border-bottom: 3px solid #00ff51;
border-top: none;
border-left: none;
} 

.Piloto .Foto-Piloto{
transition: all 0.5s ease;
transform: scale(1.0);
width: 380px;
} 


.Piloto:hover .Foto-Piloto{
transition: all 0.5s ease;
transform: scale(1.05);
} 

.Piloto:hover{
    box-shadow: 8px 5px 5px #00ff51,
    -2px -5px 5px #000;
} 

.Bandera-Dorsal-Nombre{
padding:8px;
 }

.Bandera-Dorsal{
font-size: 0px;
}

.Bandera-Dorsal img{
font-size: 50px;
width: 80px;  
}

.Nombre{
font-size: 50px;
}

/*CSS PARA EL CARRUSEL DE FOTOGRAFIAS A MODO DE GALERÍA*/

.Galeria{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.slider-box{
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 3000%;
    animation: slide 60s infinite alternate ease-in-out;
}

.slider-box li {
    width: 3.3333333%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
}

/*PERSONALIZACION DE LOS TIEMPOS PARA LAS ANIMACIONES*/

@keyframes slide {
    0% { margin-left: -0%; } /* 1ª imagen (0s) */
    4.16667% { margin-left: -0%; } /* 1ª imagen (2s) */
    8.33333% { margin-left: -100%; } /* 2ª imagen (0s) */
    12.5% { margin-left: -100%; } /* 2ª imagen (2s) */
    16.66667% { margin-left: -200%; } /* 3ª imagen (0s) */
    20.83333% { margin-left: -200%; } /* 3ª imagen (2s) */
    25% { margin-left: -300%; } /* 4ª imagen (0s) */
    29.16667% { margin-left: -300%; } /* 4ª imagen (2s) */
    33.33333% { margin-left: -400%; } /* 5ª imagen (0s) */
    37.5% { margin-left: -400%; } /* 5ª imagen (2s) */
    41.66667% { margin-left: -500%; } /* 6ª imagen (0s) */
    45.83333% { margin-left: -500%; } /* 6ª imagen (2s) */
    50% { margin-left: -600%; } /* 7ª imagen (0s) */
    54.16667% { margin-left: -600%; } /* 7ª imagen (2s) */
    58.33333% { margin-left: -700%; } /* 8ª imagen (0s) */
    62.5% { margin-left: -700%; } /* 8ª imagen (2s) */
    66.66667% { margin-left: -800%; } /* 9ª imagen (0s) */
    70.83333% { margin-left: -800%; } /* 9ª imagen (2s) */
    75% { margin-left: -900%; } /* 10ª imagen (0s) */
    79.16667% { margin-left: -900%; } /* 10ª imagen (2s) */
    83.33333% { margin-left: -1000%; } /* 11ª imagen (0s) */
    87.5% { margin-left: -1000%; } /* 11ª imagen (2s) */
    91.66667% { margin-left: -1100%; } /* 12ª imagen (0s) */
    95.83333% { margin-left: -1100%; } /* 12ª imagen (2s) */
    100% { margin-left: -1100%; } /* Detiene la animación al final */
  }
.Historia{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.Historia header,p{
padding-bottom: 30px;
}

.Palmares{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px
}

.Palmares header,p{
padding-bottom: 30px;
}
