/*CSS PARA EL PIE DE PAGINA*/
.site-footer {
    background-color: rgb(30, 29, 29);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Copyright */
.copyright {
    font-size: 12px;
    margin-top: 20px;
}
