/*CSS ELEMENTOS GENERALES PARA TODAS LAS FICHAS DE CADA PILOTO*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: 'Roboto','sans-serif';
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #efefef;
    margin:0;
}

main{
   width: 1400px; 
   margin: 0 auto;
} 

footer{
margin-top: auto;
}

.imagenDorsal {
    width: 58px;
    height: 40px;
}

.imagenBandera{
    border:solid 1px;
    width: 58px;
    height: 40px;
}

.containerPilotoDorsalBandera p{
    font-size: 50px;
    font-family: 'Roboto','sans-serif';
    text-indent: 20px; /* Añade sangría al texto*/
}

.containerDorsalBandera{
    padding: 10px;
}

.containerDorsalBandera .imagenDorsal{
    width: 10%;
}

.containerDorsalBandera .imagenBandera{
    width: 10%;
    border-radius: 5px ;
}

.containerImagenPiloto{
    overflow: hidden;
    width: 600px;
    height: 500px;
}

.imagenPiloto{
    width: 600px;
    padding: 10px;
}

.DatosPersonales {
    margin: 30px;
    width: 400px;
}

.DatosPersonales img{
    width: 200px;
}

/*Tabla datos personales piloto*/

.tabla-container {
    display: flex;
    justify-content: center;
}

.tabla {
    max-width: 600px;
    padding: 20px;
}

.tabla header {
    text-align: center;
    margin-bottom: 20px;
}

.tabla img.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.tabla-estadisticas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estadisticas td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-estadisticas td:first-child {
    font-weight: bold;
}

.tabla-estadisticas tr:last-child td {
    border-bottom: none;
}


