/*CSS ELEMENTOS GENERALES*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: 'Roboto','sans-serif';
}

body{
    background-color: #efefef;
    margin:0;
}

main{
   width: 1000px; 
   margin: 0 auto;
}

img{
    width: 100%;
}

/*CSS PARA LA CREACION DE LA BARRA DE NAVEGACION*/

.Encabezado-Principal{
/*Uso sticky por si queremos posicionar alguna notica o algo relevante encima del encabezado*/
position: sticky;
top: 0;
background-color: #003399;
color: white;
width: 100%;
z-index: 100;
font-size: 1.5rem;
display: flex;
justify-content:space-evenly;
align-items: center;
height: 85px;
padding: 5px 10%;
box-sizing: border-box;
}

.Encabezado-Principal img{
height: 95%;
width: auto;
}

.Encabezado-Principal nav{
width: 700px;
}

.Encabezado-Principal .Enlaces-Navegacion{
list-style: none;
display: flex;
justify-content: space-between;
}

.Encabezado-Principal .Enlaces-Navegacion li{
transition: all 0.5s ease;
}

.Encabezado-Principal .Enlaces-Navegacion li:hover{
transform: scale(1.15);
text-shadow: 0 0 5px rgba(255, 255, 255, 0.3); /* Difuminado del texto */
}

.Encabezado-Principal .Enlaces-Navegacion a{
font-size: 700;
color: white;
text-decoration: none ;
}

/* CSS PARA LA SECCION DE LOS PILOTOS Y LA TABLA DE DATOS DEL EQUIPO*/

.Pilotos-DatosEquipo{
box-sizing: border-box;
display: flex;
margin:30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.Pilotos-DatosEquipo header{
box-sizing: border-box;
height: 30px;
margin-bottom: 20px;
text-align: center;
}

.Tabla{
    padding: 10px;
}

.Pilotos{
    padding: 10px;
}

.Tabla-estadisticas tr,td {
background-color: grey;
margin: 40px;
padding: 10px;
font-size: larger;
}

.ContenedorPilotos{
box-sizing: border-box;
position: relative;
display: flex;
justify-content: space-between;
width: 450px;
height: 400px;
}

.Pilotos a{
text-decoration: none;
color: inherit;
display: flex;
}

.Piloto{
transition: all 0.5s ease;
border-style: solid;
/* border-color: #003399; */
border-width: 2px;
width: 206px;
overflow: hidden;
align-items: center;
box-shadow: 1px 1px 1px #003399;
} 

.Piloto .Foto-Piloto{
transition: all 0.5s ease;
transform: scale(1.0);
} 


.Piloto:hover .Foto-Piloto{
transition: all 0.5s ease;
transform: scale(1.05);
} 

.Piloto:hover{
box-shadow: 8px 5px 5px #003399;
background-color: grey;
color:white;
} 

.Bandera-Dorsal-Nombre{
padding:8px;
 }

.Bandera-Dorsal{
font-size: 50px;
}

.Bandera-Dorsal img{
font-size: 50px;
width: 80px;  
}

.Nombre{
font-size: 30px;
}

.galeria{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
overflow: hidden;
}

.gallery {
    --s: 130px; /* control the size of the images*/
    
    display: grid;
    gap: 5px;
    position: relative;
  }
  .gallery input {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    inset: calc(50% - var(--s)/3);
    cursor: pointer;
    --g: linear-gradient(#fff 0 0) no-repeat;
    background: var(--g) 50%/60% 3px,var(--g) 50%/3px 60%,#222;
    transition: 1.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .gallery > img {
    width: var(--s);
    aspect-ratio: 1;
    grid-area: 1/1;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(.5);
    transition: 1s calc((var(--i) - 1)*.1s);
  }
  .gallery > img:nth-of-type(1) {--i:1;}
  .gallery > img:nth-of-type(2) {--i:2;}
  .gallery > img:nth-of-type(3) {--i:3;}
  .gallery > img:nth-of-type(4) {--i:4;}
  .gallery > img:nth-of-type(5) {--i:5;}
  .gallery > img:nth-of-type(6) {--i:6;}
  .gallery > img:nth-of-type(7) {--i:7;}
  .gallery > img:nth-of-type(8) {--i:8;}
  .gallery > img:nth-of-type(9) {--i:9;}
  
  .gallery > input:checked ~ img {
    transform: 
      rotate(calc(var(--i)* 360deg/8)) translate(calc(1.5*var(--s))) 
      rotate(calc(var(--i)*-360deg/8));
  }
  .gallery > input:checked {
    transform: rotate(135deg)
  }
  

/*

.Galeria{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.ContainerImagenes img{
display: flex;
justify-content: center;
object-fit: cover;/* Para que las imágenes se envuelvan si no caben en una sola fila 
}
*/

.Galeria{
    margin: 0;
    padding: 0;

}

.Historia{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.Historia header,p{
padding-bottom: 30px;
}

.Palmares{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px
}

.Palmares header,p{
padding-bottom: 30px;
}




