*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: 'Roboto','sans-serif';
}

body{
    background-color: #efefef;
    margin:0;
}

main{
   width: 1000px; 
   margin: 0 auto;
}

.Encabezado-Principal{
    /*Uso sticky por si queremos posicionar alguna notica o algo relevante encima del encabezado*/
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #003399;
    color: white;
    width: 100%;
    z-index: 1000;
    font-size: 1.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.Encabezado-Principal img{
    margin-right: 150px;
    height: 75px;
    width: auto;
}

.Encabezado-Principal a{
    background-color: #003399;
    color: white; 
}

.Encabezado-Principal .Enlaces-Navegacion{
    list-style: none;
    margin-left: 50px;
}
.Encabezado-Principal .Enlaces-Navegacion li{
    transition: all 0.5s;
    display: inline-block;
    padding: 0 20px; 
}

.Encabezado-Principal .Enlaces-Navegacion li:hover{
    transform: scale(1.05);
}

.Encabezado-Principal .Enlaces-Navegacion a{
    font-size: 700;
    color: white;
    text-decoration: none ;
}

.Pilotos-DatosEquipo{
    display: flex;
    margin:30px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.Pilotos-DatosEquipo header{
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Tabla{
    padding: 10px;
}

.Pilotos{
    padding: 10px;
}

.Tabla-estadisticas tr,td {
background-color: grey;
margin: 40px;
padding: 10px;
font-size: larger;
}

.ContenedorPilotos{
box-sizing: border-box;
position: relative;
display: flex;
justify-content: space-between;
width: 450px;
height: 400px;
}

.Pilotos a{
text-decoration: none;
color: inherit;
display: flex;
}

.Piloto{
transition: all 0.5s ease;
border-style: solid;
/* border-color: #003399; */
border-width: 2px;
width: 206px;
overflow: hidden;
align-items: center;
box-shadow: 1px 1px 1px #003399;
} 

.Piloto .Foto-Piloto{
    transition: all 0.5s ease;
    transform: scale(1.0);
} 


.Piloto:hover .Foto-Piloto{
    transition: all 0.5s ease;
    transform: scale(1.05);
} 

.Piloto:hover{
    box-shadow: 8px 5px 5px #003399;
    background-color: grey;
    color:white;
} 

/* 
Esto aplica sombra solo a los nombres

.Enlace-Pagina-Piloto :hover{
    text-shadow: 3px 5px 7px  grey;
}
 */

.Bandera-Dorsal-Nombre{
padding:8px;
 }

.Bandera-Dorsal{
font-size: 50px;
}

.Bandera-Dorsal img{
font-size: 50px;
width: 80px;  
}

.Nombre{
font-size: 30px;
}
    
.Galeria img{
width: 1024px;
}

.Historia{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px;
}

.Historia header,p{
padding-bottom: 30px;
}

.Palmares{
margin: 30px;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
padding: 30px
}

.Palmares header,p{
padding-bottom: 30px;
}




