/*CSS ELEMENTOS GENERALES*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: 'Roboto','sans-serif';
}

body{
    background-color: #efefef;
    margin:0;
}

main{
   width: 1400px; 
   margin: 0 auto;
} 


/* Estilos para el encabezado */
.Encabezado-Principal {
    background-color: rgb(30, 29, 29); /* Fondo negro */
    text-align: center; /* Centrar el contenido */
    height: 100px;
    width: 100%;
    font-size: 30px;
    position: sticky; /* Para mantener el encabezado fijo */
    top: 0; /* Anclarlo en la parte superior */
    z-index: 1000;
}

/* Estilos para la navegación principal */
.navegacion {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: inline-block; /* Para que la navegación se centre y no se extienda horizontalmente */
    position: relative; /* Ajuste para el posicionamiento relativo */
}

.navegacion > li {
    list-style-type: none;
    position: relative;
    display: inline-block; /* Para que los elementos de primer nivel se muestren en línea */
}

.navegacion > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff; /* Color de texto blanco */
}

/* Estilos para los submenús */
.navegacion ul {
    list-style-type: none;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(30, 29, 29); /* Color de fondo negro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 440px; /* Ancho total del submenú */
    padding: 10px 20px; /* Espaciado interno */
    z-index: 999; /* Asegura que los submenús estén por encima de otros elementos */
    column-count: 2; /* Divide el contenido en dos columnas */
    column-gap: 60px; /* Espacio entre las columnas */
    text-align: center;
}

.navegacion ul li {
    width: 100%; /* Ancho completo del elemento */
    margin-bottom: 10px; /* Margen inferior para separar los elementos */

}

.navegacion ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff; /* Color de texto blanco */
    text-decoration: none;
}

/* Estilos para desplegar los submenús al pasar el ratón sobre los elementos principales */
.navegacion > li:hover > ul {
    display: block;
}

/* Estilos para los submenús en dos líneas */
.navegacion ul li a:hover {
    background-color: #333; /* Color de fondo al pasar el ratón */
}
/************************************************************************/
.Piloto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding:30px;
}

.containerPilotoDorsalBandera{
    overflow: hidden;
}

.containerPilotoDorsalBandera p{
    font-size: 50px;
    font-family: 'Roboto','sans-serif';
    text-indent: 20px; /* Añade sangría al texto*/
}

.containerDorsalBandera{
    padding: 10px;
}

.containerDorsalBandera .imagenDorsal{
    width: 10%;
}

.containerDorsalBandera .imagenBandera{
    width: 10%;
}

.containerImagenPiloto{
    overflow: hidden;
    width: 600px;
    height: 500px;
}

.imagenPiloto{
    width: 600px;
    padding: 10px;
}

.DatosPersonales {
    margin: 30px;
    width: 400px;
}

.DatosPersonales img{
    width: 300px;
}

/*Tabla datos personales piloto*/

.tabla-container {
    display: flex;
    justify-content: center;
}

.tabla {
    max-width: 600px;
    padding: 20px;
}

.tabla header {
    text-align: center;
    margin-bottom: 20px;
}

.tabla img.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.tabla-estadisticas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estadisticas td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-estadisticas td:first-child {
    font-weight: bold;
}

.tabla-estadisticas tr:last-child td {
    border-bottom: none;
}


/*CSS PARA EL PIE DE PAGINA*/
.site-footer {
    background-color: rgb(30, 29, 29);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Copyright */
.copyright {
    font-size: 12px;
    margin-top: 20px;
}
